
body{
	background-color: lightblue;
}

h1,h2,h3,h4,h5,h6{
	color:red;
}

.box-element{
	background-color: white;
	padding: 10px;
	/* width: 80px; */
 /* height: 70px; */
 margin: 0;
 border: 5px solid grey;
 padding: 5px;
}

.row1 {
	padding: 10px 10% 2em 10%;
}

.thumbnail{
	width: 100%;
	height: 200px;
}

.product{

}

.bg-dark{
	background-color: grey!important;
}

#cart-icon{
	width:50px;
	display: inline-block;
	margin-left: 5px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: #ea545f;
	width: 2px;
	height: 2px;
	font-size: 14px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0px;
}

.row-image{
	width: 10px;
}

.form-field{
	width:25px;
	display: inline-block;
	padding: 5px;
}



.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
}

.chg-quantity:hover{
	opacity: .6;
}


.img-responsive
 {
            height: auto;
            width: auto;
            max-height: 40px;
            max-width: 250px;
}

.butn
 {
    background-color: grey;
    border: 1px solid white;

    color: green;
    display: inline-block;
    font: 12px Arial;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
	letter-spacing: 0.5px;
}

.butn, .butn:hover, .butn:focus, .butn:active {

      color: white;
 }


.banner {
	padding: 180px 0px;
	background-image: url(/static/images/food-with-ingredients.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
    text-align: bottom;

}

.banner h4 {
	margin-top: 0px;
  margin-left: 20px;
	font-family: 'Times new roman', sans-serif;
	font-weight: 1500;
	font-size: 25px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

.banner h2 {
	font-family: 'Times new roman', 'serif';
	font-size: 44px;
	font-weight: 600;
  font-size: 100px;
	color: White;
	text-transform: uppercase;
}

.banner p {
	color: black;
	font-size: 25px;
  font-weight: 600;
}

.banner .primary-button {
	margin-top: 30px;
}
section
{
    display: block;
}

.primary-button a {

	display: inline-block;
	background-color: orange;
	color: white;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 500;
	padding: 12px 20px;
	text-decoration: none;
	letter-spacing: 0.5px;
}

section.services {
    padding-bottom: 100px;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
}

.services .service-item  a {
	text-decoration: none;
}

.services .service-item {
	text-align: center;
}


.services .service-item h4 {
	margin-top: 20px;
	font-size: 22px;
	color: red;
	font-family: 'Times new roman', serif;
	font-weight: 600;
	margin-bottom: 0px;
}

@media (max-width: 991px) {
	.services .service-item {
		margin-bottom: 30px;
		margin-top: 30px;
	}
	}

@media (max-width: 768px) {
	.services .service-item {
		margin-bottom: 3px;
		margin-top: 3px;
	}
}

.order-card .r
{
    color: grey;
}

.bg-c-blue {
    background: blue;
}

.bg-c-green {
    background: green;
}

.bg-c-yellow {
    background: yellow;
}

.bg-c-pink {
    background: pink;
}

.card {
    border-radius: 1px;
}

.card .card-block {
    padding: 13px;
}

.order-card i {
    font-size: 50px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.center-column {
        width: 700px;
        margin: 20px auto;
        background-color: white;

    }

/*Footer*/
.footer {
	width: 100vw;
	height: 2rem;
	background: grey;
	margin-top: auto;
}
